---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="A brief description of who I am, what I do, and how this site works"
	pubDate={new Date('January 03 2026')}
>
	<h2>Personal bio</h2>
	<p>
		I am a software engineer by trade, with a formal background in computer
		science &amp; mathematics.
	</p>
	<p>
		My preference for software development roles leans towards
		backend development with Java.
		While Java is often considered old and outdated (especially by people of
		my generation), it remains an extremely popular, versatile, and stable
		choice for applications. Modern versions of Java have
		reduced a lot of the boilerplate and cruft that made the language
		famous in developer social circles, while incorporating many groundbreaking
		improvements to the garbage collectors &amp; JIT compilers.
		(Case in point: the relatively new <a href="https://docs.oracle.com/en/java/javase/21/gctuning/z-garbage-collector.html">Z Garbage Collector</a>
		operates with extremely low pause times that do not scale with heap size.)
	</p>
	<p>
		While my primary focus nowadays is on Java, I have also worked extensively
		with several other software ecosystems &amp; languages, and continue
		to do so today when the need arises. I enjoy getting my hands dirty
		and learning new tech stacks to solve new problems.
	</p>
	<p>
		From late 2018 to 2020 I was contracted to build a
		significant number of basic HTML5 games to replace legacy Flash content which
		would no longer be accessible to modern browsers.

		Following that,
		I built a basic <a href="https://epallinone.com/quizzes">self-hosted alternative to Quizlet</a> using React (TypeScript) for
		the frontend and Python (Django) for the backend.
	</p>
	<p>
		During the COVID pandemic I found myself with a significant amount of
		free time, and my friends introduced to the video game <i>Minecraft</i>
		as well as its modding ecosystem. After a few years I started building
		my own mods, several of which reached popular acclaim. My most popular
		mod, <a href="https://legacy.curseforge.com/minecraft/mc-mods/modernfix">ModernFix</a>,
		recently surpassed 150 million downloads. Though I am significantly
		less active than I used to be due to growing life obligations, I still
		maintain &amp; make occasional updates to my mods.
	</p>
	<p>
		When I am not coding, I can usually
		be found teaching math, reading blog posts/forums, socializing with friends, or listening
		to music.
	</p>

	<h2 id="the-site">The site</h2>
	<p>
		P.S. for the technically curious: my site is built using
		the <a href="https://astro.build/">Astro</a> framework, which provides
		me with modern frontend development features while statically rendering
		my content to basic HTML/CSS. At the time of writing, many (if not all)
		modern websites and blogging platforms
		involve some form of client-side rendering, which makes them a pain to
		use (if not completely inaccessible) on weaker devices. It is also
		often difficult to keep links working if shifting to a new problem.
		Using a static framework like Astro provides the developer with complete
		control over the layout, URLs, and behavior of the site without the "bloat"
		often associated with a classic solution like WordPress.

		I started with the default
		<a href="https://github.com/withastro/astro/tree/8d569b545b3cba21eb87f77c75c2be0916139d3a/examples/blog">blog template</a>,
		but tweaked it to suit my preferences.
	</p>
</Layout>
