---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} embeddedt. All rights reserved.
	<div class="social-container">
		<SocialLinks/>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-container {
		margin-top: 1em;
	}
</style>
