---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header>
	<nav>
		<h2>
			<a href="/">
				<img class="embeddedt-header-icon" src="/embeddedt_icon.png" alt="embeddedt profile picture"/>
				{SITE_TITLE}
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links-container">
			<SocialLinks/>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		border-bottom: 4px solid transparent;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}

	/* side elements can grow */
	h2, .internal-links, .social-links-container {
		flex: 0 0 auto;
	}

	.social-links-container {
		margin-left: auto;
	}

	@media (max-width: 720px) {
		.social-links-container {
			display: none;
		}
	}

	.embeddedt-header-icon {
		width: 2em;
		height: 2em;
		margin-right: 4px;
		vertical-align: middle;
	}
</style>
